<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.latenightsw.ScriptDebugger8</string>
		<key>Name</key>
		<string>Script Debugger</string>
		<key>NewFile</key>
		<string>/Applications/Script Debugger.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.microsoft.VSCodeInsiders</string>
		<key>Name</key>
		<string>Visual Studio Code - Insiders</string>
		<key>NewFile</key>
		<string>/Applications/Visual Studio Code - Insiders.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.googlecode.iterm2</string>
		<key>Name</key>
		<string>iTerm</string>
		<key>NewFile</key>
		<string>~/Applications/iTerm.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.Console</string>
		<key>Name</key>
		<string>Console</string>
		<key>NewFile</key>
		<string>/System/Applications/Utilities/Console.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.asiafu.Bloom</string>
		<key>Name</key>
		<string>Bloom</string>
		<key>NewFile</key>
		<string>/Applications/Bloom.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.iWork.Numbers</string>
		<key>Name</key>
		<string>Numbers</string>
		<key>NewFile</key>
		<string>/Applications/Numbers.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.anthropic.claudefordesktop</string>
		<key>Name</key>
		<string>Claude</string>
		<key>NewFile</key>
		<string>/Applications/Claude.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>net.sourceforge.skim-app.skim</string>
		<key>Name</key>
		<string>Skim</string>
		<key>NewFile</key>
		<string>/Applications/Skim.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.microsoft.Word</string>
		<key>Name</key>
		<string>Microsoft Word</string>
		<key>NewFile</key>
		<string>/Applications/Microsoft Word.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>net.imput.helium</string>
		<key>Name</key>
		<string>Helium</string>
		<key>NewFile</key>
		<string>/Applications/Helium.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.busymac.busycal-setapp</string>
		<key>Name</key>
		<string>BusyCal</string>
		<key>NewFile</key>
		<string>~/Applications/Setapp/BusyCal.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.jinghaoshe.qspace.pro</string>
		<key>Name</key>
		<string>QSpace Pro</string>
		<key>NewFile</key>
		<string>/Applications/QSpace Pro.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.finder</string>
		<key>Name</key>
		<string>Finder</string>
		<key>NewFile</key>
		<string>/System/Library/CoreServices/Finder.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.todoist.mac.Todoist</string>
		<key>Name</key>
		<string>Todoist</string>
		<key>NewFile</key>
		<string>/Applications/Todoist.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.MobileSMS</string>
		<key>Name</key>
		<string>Messages</string>
		<key>NewFile</key>
		<string>/System/Applications/Messages.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.chabomakers.Antinote-setapp</string>
		<key>Name</key>
		<string>Antinote</string>
		<key>NewFile</key>
		<string>/Applications/Setapp/Antinote.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>app.spokenly</string>
		<key>Name</key>
		<string>Spokenly</string>
		<key>NewFile</key>
		<string>/Applications/Spokenly.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.houdah.HoudahSpot-setapp</string>
		<key>Name</key>
		<string>HoudahSpot</string>
		<key>NewFile</key>
		<string>/Applications/Setapp/HoudahSpot.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.microsoft.teams2</string>
		<key>Name</key>
		<string>Microsoft Teams</string>
		<key>NewFile</key>
		<string>/Applications/Microsoft Teams.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.adobe.Acrobat.Pro</string>
		<key>Name</key>
		<string>Adobe Acrobat</string>
		<key>NewFile</key>
		<string>/Applications/Adobe Acrobat DC/Adobe Acrobat.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.ringcentral.glip</string>
		<key>Name</key>
		<string>RingCentral</string>
		<key>NewFile</key>
		<string>/Applications/RingCentral.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>ch.protonmail.desktop</string>
		<key>Name</key>
		<string>Proton Mail</string>
		<key>NewFile</key>
		<string>/Applications/Proton Mail.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.microsoft.Outlook</string>
		<key>Name</key>
		<string>Microsoft Outlook</string>
		<key>NewFile</key>
		<string>/Applications/Microsoft Outlook.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>dev.zed.Zed</string>
		<key>Name</key>
		<string>Zed</string>
		<key>NewFile</key>
		<string>/Applications/Zed.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.taperlabs.shadow</string>
		<key>Name</key>
		<string>Shadow</string>
		<key>NewFile</key>
		<string>/Applications/Shadow.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.multimodalsolutions.taphouse</string>
		<key>Name</key>
		<string>Taphouse</string>
		<key>NewFile</key>
		<string>/Applications/Taphouse.app</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>python3</string>
		<key>NewFile</key>
		<string>/opt/anaconda3/bin/python3.12</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.alienator88.Pearcleaner</string>
		<key>Name</key>
		<string>Pearcleaner</string>
		<key>NewFile</key>
		<string>/Applications/Pearcleaner.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.electron.dockerdesktop</string>
		<key>Name</key>
		<string>Docker Desktop</string>
		<key>NewFile</key>
		<string>/Applications/Docker.app/Contents/MacOS/Docker Desktop.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.systempreferences</string>
		<key>Name</key>
		<string>System Settings</string>
		<key>NewFile</key>
		<string>/System/Applications/System Settings.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.microsoft.edgemac</string>
		<key>Name</key>
		<string>Microsoft Edge</string>
		<key>NewFile</key>
		<string>/Applications/Microsoft Edge.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>io.xpipe.app</string>
		<key>Name</key>
		<string>XPipe</string>
		<key>NewFile</key>
		<string>/Applications/XPipe.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.mobilephone</string>
		<key>Name</key>
		<string>Phone</string>
		<key>NewFile</key>
		<string>/System/Applications/Phone.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.softfever3d.orca-slicer</string>
		<key>Name</key>
		<string>OrcaSlicer</string>
		<key>NewFile</key>
		<string>/Applications/OrcaSlicer.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.microsoft.Excel</string>
		<key>Name</key>
		<string>Microsoft Excel</string>
		<key>NewFile</key>
		<string>/Applications/Microsoft Excel.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.microsoft.onenote.mac</string>
		<key>Name</key>
		<string>Microsoft OneNote</string>
		<key>NewFile</key>
		<string>/Applications/Microsoft OneNote.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.openai.chat</string>
		<key>Name</key>
		<string>ChatGPT</string>
		<key>NewFile</key>
		<string>/Applications/ChatGPT.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.electron.shortwave</string>
		<key>Name</key>
		<string>Shortwave</string>
		<key>NewFile</key>
		<string>/Applications/Shortwave.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>notion.id</string>
		<key>Name</key>
		<string>Notion</string>
		<key>NewFile</key>
		<string>/Applications/Notion.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.AppStore</string>
		<key>Name</key>
		<string>App Store</string>
		<key>NewFile</key>
		<string>/System/Applications/App Store.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>md.obsidian</string>
		<key>Name</key>
		<string>Obsidian</string>
		<key>NewFile</key>
		<string>/Applications/Obsidian.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.3bitlab.PiPad</string>
		<key>Name</key>
		<string>PiPad</string>
		<key>NewFile</key>
		<string>/Applications/PiPad.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.ActivityMonitor</string>
		<key>Name</key>
		<string>Activity Monitor</string>
		<key>NewFile</key>
		<string>/System/Applications/Utilities/Activity Monitor.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.itone.ProcessSpy</string>
		<key>Name</key>
		<string>ProcessSpy</string>
		<key>NewFile</key>
		<string>/Applications/ProcessSpy.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.setapp.DesktopClient</string>
		<key>Name</key>
		<string>Setapp</string>
		<key>NewFile</key>
		<string>/Applications/Setapp.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.github.domt4.homebrew-autoupdate.autoupdater</string>
		<key>Name</key>
		<string>brew-autoupdate</string>
		<key>NewFile</key>
		<string>/opt/homebrew/Library/Taps/domt4/homebrew-autoupdate/notifier/brew-autoupdate.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.Music</string>
		<key>Name</key>
		<string>Music</string>
		<key>NewFile</key>
		<string>/System/Applications/Music.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.HyperartFlow.Barbee.bb-agent</string>
		<key>Name</key>
		<string>ShowAllMenuBarItems</string>
		<key>NewFile</key>
		<string>/Applications/Barbee.app/Contents/MacOS/bb-agent.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.microsoft.OneDrive-mac</string>
		<key>Name</key>
		<string>OneDrive</string>
		<key>NewFile</key>
		<string>/Applications/OneDrive.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>org.pqrs.Karabiner-Elements.Settings</string>
		<key>Name</key>
		<string>Karabiner-Elements</string>
		<key>NewFile</key>
		<string>/Applications/Karabiner-Elements.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.google.Chrome</string>
		<key>Name</key>
		<string>Google Chrome</string>
		<key>NewFile</key>
		<string>/Applications/Google Chrome.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>org.pqrs.Karabiner-Updater</string>
		<key>Name</key>
		<string>Karabiner-Updater</string>
		<key>NewFile</key>
		<string>/Library/Application Support/org.pqrs/Karabiner-Elements/Karabiner-Updater.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.installer</string>
		<key>Name</key>
		<string>Installer</string>
		<key>NewFile</key>
		<string>/System/Library/CoreServices/Installer.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.google.antigravity</string>
		<key>Name</key>
		<string>Antigravity</string>
		<key>NewFile</key>
		<string>/Applications/Antigravity.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.tdesktop.Telegram</string>
		<key>Name</key>
		<string>Telegram Desktop</string>
		<key>NewFile</key>
		<string>/Applications/Telegram Desktop.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.manzoni.app-setapp</string>
		<key>Name</key>
		<string>Manzoni</string>
		<key>NewFile</key>
		<string>/Applications/Setapp/Manzoni.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.dt.Xcode</string>
		<key>Name</key>
		<string>Xcode</string>
		<key>NewFile</key>
		<string>/Applications/Xcode.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.glacialsoftware.DMHelper</string>
		<key>Name</key>
		<string>DMHelper</string>
		<key>NewFile</key>
		<string>/Applications/DMHelper/DMHelper.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>us.zoom.xos</string>
		<key>Name</key>
		<string>zoom</string>
		<key>NewFile</key>
		<string>/Applications/zoom.us.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>net.imput.helium.app.piiajooamgiicjdgbnhppfimmjnmjllk</string>
		<key>Name</key>
		<string>5etools</string>
		<key>NewFile</key>
		<string>~/Applications/Helium Apps.localized/5etools.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.azhard.taskforge</string>
		<key>Name</key>
		<string>TaskForge</string>
		<key>NewFile</key>
		<string>/Applications/TaskForge.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.superduper.superwhisper</string>
		<key>Name</key>
		<string>superwhisper</string>
		<key>NewFile</key>
		<string>/Applications/superwhisper.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.hahainteractive.GoodTask-setapp</string>
		<key>Name</key>
		<string>GoodTask</string>
		<key>NewFile</key>
		<string>~/Applications/Setapp/GoodTask.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>jp.plentycom.app.SteerMouse</string>
		<key>Name</key>
		<string>SteerMouse</string>
		<key>NewFile</key>
		<string>/Applications/SteerMouse.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.dinoki.osaurus</string>
		<key>Name</key>
		<string>Osaurus</string>
		<key>NewFile</key>
		<string>/Applications/Osaurus.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.spotify.client</string>
		<key>Name</key>
		<string>Spotify</string>
		<key>NewFile</key>
		<string>~/Applications/Spotify.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.guidedways.TodoMac-setapp</string>
		<key>Name</key>
		<string>2Do</string>
		<key>NewFile</key>
		<string>~/Applications/Setapp/2Do.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.titanium.OnyX</string>
		<key>Name</key>
		<string>OnyX</string>
		<key>NewFile</key>
		<string>/Applications/OnyX.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.daisydiskapp.DaisyDiskStandAlone</string>
		<key>Name</key>
		<string>DaisyDisk</string>
		<key>NewFile</key>
		<string>/Applications/DaisyDisk.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>at.obdev.littlesnitch.networkmonitor</string>
		<key>Name</key>
		<string>Little Snitch Network Monitor</string>
		<key>NewFile</key>
		<string>/Applications/Little Snitch.app/Contents/Components/Little Snitch Network Monitor.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.busymac.busycontacts-setapp</string>
		<key>Name</key>
		<string>BusyContacts</string>
		<key>NewFile</key>
		<string>~/Applications/Setapp/BusyContacts.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.archiveutility</string>
		<key>Name</key>
		<string>Archive Utility</string>
		<key>NewFile</key>
		<string>/System/Library/CoreServices/Applications/Archive Utility.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>org.pqrs.Karabiner-EventViewer</string>
		<key>Name</key>
		<string>Karabiner-EventViewer</string>
		<key>NewFile</key>
		<string>/Applications/Karabiner-EventViewer.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.surfshark.vpnclient.macos.direct</string>
		<key>Name</key>
		<string>Surfshark</string>
		<key>NewFile</key>
		<string>/Applications/Surfshark.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.DiskUtility</string>
		<key>Name</key>
		<string>Disk Utility</string>
		<key>NewFile</key>
		<string>/System/Applications/Utilities/Disk Utility.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.spatialread.desktop</string>
		<key>Name</key>
		<string>SpatialRead</string>
		<key>NewFile</key>
		<string>/Applications/SpatialRead.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.fewtarius.syntheticautonomicmind</string>
		<key>Name</key>
		<string>SAM</string>
		<key>NewFile</key>
		<string>/Applications/SAM.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>org.whispersystems.signal-desktop</string>
		<key>Name</key>
		<string>Signal</string>
		<key>NewFile</key>
		<string>/Applications/Signal.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.microsoft.autoupdate2</string>
		<key>Name</key>
		<string>Microsoft AutoUpdate</string>
		<key>NewFile</key>
		<string>/Library/Application Support/Microsoft/MAU2.0/Microsoft AutoUpdate.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.1password.1password</string>
		<key>Name</key>
		<string>1Password</string>
		<key>NewFile</key>
		<string>/Applications/1Password.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>ai.heyally.mac.Ally</string>
		<key>Name</key>
		<string>Ally</string>
		<key>NewFile</key>
		<string>/Applications/Ally.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.yeop.OnText</string>
		<key>Name</key>
		<string>OnText</string>
		<key>NewFile</key>
		<string>/Applications/OnText.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>eu.davidbures.cork</string>
		<key>Name</key>
		<string>Cork</string>
		<key>NewFile</key>
		<string>/Applications/Cork.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.HyperartFlow.Barbee</string>
		<key>Name</key>
		<string>Barbee</string>
		<key>NewFile</key>
		<string>/Applications/Barbee.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.printcenter</string>
		<key>Name</key>
		<string>Print Center</string>
		<key>NewFile</key>
		<string>/System/Applications/Utilities/Print Center.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.aone.keka</string>
		<key>Name</key>
		<string>Keka</string>
		<key>NewFile</key>
		<string>/Applications/Keka.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.renfei.SnippetsLab</string>
		<key>Name</key>
		<string>SnippetsLab</string>
		<key>NewFile</key>
		<string>/Applications/SnippetsLab.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.ScriptEditor2</string>
		<key>Name</key>
		<string>Script Editor</string>
		<key>NewFile</key>
		<string>/System/Applications/Utilities/Script Editor.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.AccessibilityInspector</string>
		<key>Name</key>
		<string>Accessibility Inspector</string>
		<key>NewFile</key>
		<string>/Applications/Xcode.app/Contents/Applications/Accessibility Inspector.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.TestFlight</string>
		<key>Name</key>
		<string>TestFlight</string>
		<key>NewFile</key>
		<string>/Applications/TestFlight.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.amazon.kpr</string>
		<key>Name</key>
		<string>Kindle Previewer 3</string>
		<key>NewFile</key>
		<string>/Applications/Kindle Previewer 3.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.corecode.MacUpdaterInstallHelper</string>
		<key>Name</key>
		<string>MacUpdaterInstallHelper</string>
		<key>NewFile</key>
		<string>/Applications/MacUpdater.app/Contents/Resources/MacUpdaterInstallHelper.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.max-langer.Latest</string>
		<key>Name</key>
		<string>Latest</string>
		<key>NewFile</key>
		<string>/Applications/Latest.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.Dictionary</string>
		<key>Name</key>
		<string>Dictionary</string>
		<key>NewFile</key>
		<string>/System/Applications/Dictionary.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>net.whatsapp.WhatsApp</string>
		<key>Name</key>
		<string>WhatsApp</string>
		<key>NewFile</key>
		<string>/Applications/WhatsApp.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>org.wireshark.Wireshark</string>
		<key>Name</key>
		<string>Wireshark</string>
		<key>NewFile</key>
		<string>/Applications/Wireshark.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.bastiaanverreijt.Transnomino</string>
		<key>Name</key>
		<string>Transnomino</string>
		<key>NewFile</key>
		<string>/Applications/Transnomino.app</string>
	</dict>
</array>
</plist>
