#!/bin/bash

# Brewfile hash: {{ include (joinPath .chezmoi.homeDir "dotfiles/brew/Brewfile") | sha256sum }}

set -euo pipefail

brewfile="$HOME/dotfiles/brew/Brewfile"

if brew bundle check --file="$brewfile" &>/dev/null; then
  echo "🍺 Homebrew Bundle: Dependencies satisfied."
else
  echo "🍺 Homebrew Bundle: Installing/Updating packages..."
  brew bundle install --quiet --file="$brewfile"
fi

