{
  "openai_token": "{{ onepasswordRead "op://Secrets/oAI_API/api_key" }}",
  "sourcegraph_token": "{{ onepasswordRead "op://vault/sourcegraph/token" }}",
  "token" : "Xxq-BJlg6gO1dwcuQLpDERrsgIJ7dyBLhnLRKV-8qAk"
}